body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height:30%;
}

.card h2 {
  font-size: 22px;
  margin: 15px 0 5px;
  color: #333;
}

.price {
  color: #007BFF;
  font-size: 20px;
  margin: 5px 0;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  padding: 0 10px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}
